apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: anc-data-pvc
  namespace: anc-platform
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: standard
  resources:
    requests:
      storage: 10Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: anc-models-pvc
  namespace: anc-platform
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: standard
  resources:
    requests:
      storage: 5Gi
